<h1>映画一覧</h1>

<!-- 映画検索フォーム -->
<div class="movie-search-container">
  <%= form_tag(movies_path, method: :get, class: "movie-search-form") do %>
    <!-- 投稿IDを隠しフィールドとして渡す -->
    <%= hidden_field_tag :post_id, params[:post_id] %> 
    <!-- 検索ワードをフィールドに残す -->
    <%= search_field_tag :looking_for, params[:looking_for], placeholder: 'キーワードを入力', class: "movie-search-input" %>
    <%= submit_tag '検索', class: "movie-search-button" %>
  <% end %>
</div>

<!-- 映画選択フォーム -->
<%= form_with url: save_selected_movies_path, method: :post, class: "movies-selection-form" do %>
  <!-- 投稿IDを隠しフィールドで渡す -->
  <%= hidden_field_tag :post_id, params[:post_id] %>

  <div class="movies-container <%= 'less-than-four' if @movies.size < 4 %>">
    <% if @movies.any? %>
      <% @movies.each do |movie| %>
        <div class="movie-card">
          <p class="movie-title"><%= movie['title'] %></p>
          <% if movie['poster_path'] %>
            <%= image_tag 'https://image.tmdb.org/t/p/w200' + movie['poster_path'], class: "movie-poster" %>
          <% else %>
            <p class="no-poster">No Poster Available</p>
          <% end %>
          <div class="movie-radio">
            <label>
              <input type="radio" name="movie_id" value="<%= movie['id'] %>" 
                <%= 'checked' if movie['id'].to_s == params[:movie_id] %> 
                id="movie-<%= movie['id'] %>" 
                data-title="<%= movie['title'] %>" 
                data-poster="<%= movie['poster_path'] %>">
            </label>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="no-movies-message">No movies found. Please try another search term.</p>
    <% end %>
  </div>

  <!-- 選択ボタン -->
  <% if @movies.any? %>
    <div class="decision-button-container">
      <%= submit_tag "決定", class: "btn btn-success decision-button" %>
    </div>
  <% end %>

<% end %>

<!-- ページネーションリンク -->
<div class="pagination-container">
  <%= paginate @movies, theme: 'bootstrap-5' %>
</div>

<script>
  document.querySelectorAll('.movie-card').forEach(item => {
    item.addEventListener('click', function() {
      const radioButton = this.querySelector('input[type="radio"]');
      if (radioButton) {
        radioButton.checked = true;  // ラジオボタンを選択状態にする
      }
    });
  });
</script>
