<div class="movie-details">
  <% if @movie %>
    <h1><%= @movie["title"] %></h1>
    <% if @movie["poster_url"] %>
      <img src="<%= @movie["poster_url"] %>" alt="<%= @movie["title"] %> Poster">
    <% else %>
      <p>No poster available.</p>
    <% end %>

    <% if @movie["trailer_url"] %>
      <div class="trailer">
        <iframe 
          width="560" 
          height="315" 
          src="<%= @movie["trailer_url"].gsub('watch?v=', 'embed/') %>" 
          title="<%= @movie["title"] %> Trailer" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
          allowfullscreen>
        </iframe>
      </div>
    <% else %>
      <p>No trailer available.</p>
    <% end %>
  <% else %>
    <p>映画情報が見つかりません。</p>
  <% end %>
</div>

<%= debug @movie %>
