<div class="container user-registration">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h1 class="registration-title">ユーザー登録</h1>
      <%= form_with model: @user, data: { turbo: false }, class: "registration-form" do |f| %>
        <div class="mb-3">
          <%= f.label :name, "名前", class: "form-label", for: "user_name" %>
          <%= f.text_field :name, class: "form-control", id: "user_name" %>
        </div>
        <div class="mb-3">
          <%= f.label :email, "メールアドレス", class: "form-label", for: "user_email" %>
          <%= f.email_field :email, class: "form-control", id: "user_email" %>
        </div>
        <div class="mb-3">
          <%= f.label :password, "パスワード", class: "form-label", for: "user_password" %>
          <%= f.password_field :password, class: "form-control", id: "user_password" %>
        </div>
        <div class="mb-3">
          <%= f.label :password_confirmation, "パスワード確認", class: "form-label", for: "user_password_confirmation" %>
          <%= f.password_field :password_confirmation, class: "form-control", id: "user_password_confirmation" %>
        </div>
        <div class="mb-3">
          <%= f.label :avatar, "アバター画像", class: "form-label", for: "avatar-upload" %>
          <%= f.file_field :avatar, class: "form-control", id: "avatar-upload" %>
        </div>
        <div class="submit-button-container text-center mt-3">
          <%= f.submit "登録", class: "btn btn-primary submit-button" %>
        </div>
      <% end %>
      <div class="text-center mt-3">
        <%= link_to 'ログインページへ', login_path, class: "login-link" %>
      </div>
    </div>
  </div>
</div>
