<%= content_for :title, "#{@user.name} さんのマイページ" %>

<div class="mypage-header">
  <h1><%= @user.name %> さんのマイページ</h1>
</div>

<div class="user-info">
  <% if @user.avatar.attached? %>
    <div class="user-avatar">
      <%= image_tag @user.avatar, class: "mypage-avatar" %>
    </div>
  <% end %>
  <div class="user-name user-info-item">
    <p class="label"><strong>名前:</strong></p>
    <p class="content"><%= @user.name %></p>
  </div>
  <div class="user-email user-info-item">
    <p class="label"><strong>メールアドレス:</strong></p>
    <p class="content"><%= @user.email %></p>
  </div>
</div>
