<h1>楽曲一覧</h1>

<%= form_with url: musics_path, method: :get, local: true do |form| %>
  <%= form.label :query, '検索キーワード' %>
  <%= form.text_field :query %>
  <%= form.submit '検索' %>
<% end %>

<% if @musics.present? %>
  <div class="music-grid">
    <% @musics.each do |music| %>
      <div class="music-item">
        <p><%= music.name %> by <%= music.artists.map(&:name).join(', ') %></p>
        <iframe src="https://open.spotify.com/embed/track/<%= music.id %>" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        <p><%= link_to 'Spotifyで見る', music.external_urls['spotify'], target: "_blank" %></p>
      </div>
    <% end %>
  </div>
<% else %>
  <p>楽曲が見つかりませんでした。</p>
<% end %>
