<header class="bg-light shadow-sm py-3">
  <div class="container d-flex justify-content-between align-items-center">
    <!-- ロゴ -->
    <%= link_to root_path, class: "text-decoration-none text-dark fw-bold" do %>
      <h1 class="h4 mb-0">MyApp</h1>
    <% end %>

    <!-- ナビゲーションメニュー -->
    <nav>
      <ul class="nav">
        <li class="nav-item">
          <%= link_to "ホーム", root_path, class: "nav-link text-dark" %>
        </li>
        <li class="nav-item">
          <%= link_to "機能",'#', class: "nav-link text-dark" %>
        </li>
        <li class="nav-item">
          <%= link_to "お問い合わせ", '#', class: "nav-link text-dark" %>
        </li>
        <!-- 映画一覧メニュー -->
        <li class="nav-item">
          <%= link_to "映画一覧", movies_path, class: "nav-link text-dark" %>
        </li>
        <!-- 音楽一覧メニュー -->
        <li class="nav-item">
          <%= link_to "音楽一覧", musics_path, class: "nav-link text-dark" %>
        </li>        
      </ul>
    </nav>

    <!-- ログイン/ログアウトリンク -->
    <div>
      <% if logged_in? %>
        <%= link_to "ログアウト", logout_path, method: :delete, class: "btn btn-outline-primary btn-sm", data: { turbo: false } %>
      <% else %>
        <%= link_to "ログイン", login_path, class: "btn btn-primary btn-sm" %>
      <% end %>
    </div>
  </div>
</header>
